@charset "UTF-8";
body {
  background-color: #17140F;
  font-family: "Noto Sans JP", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  overflow-x: hidden;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #17140F;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
@media screen and (min-width: 768px) {
  .header-area {
    padding: 15px 50px;
  }
}

.hamburger-btn {
  position: relative;
  z-index: 9999;
  width: 20px;
  height: 15px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .hamburger-btn {
    width: 45px;
    height: 24px;
  }
}

.hamburger-btn span {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: all 0.5s;
}

.hamburger-btn span:first-of-type {
  top: 0;
}

.hamburger-btn span:nth-of-type(2) {
  top: 50%;
}

.hamburger-btn span:last-of-type {
  top: 100%;
}

.hamburger-btn.active span:first-of-type {
  top: 50%;
  transform: rotate(45deg);
}

.hamburger-btn.active span:nth-of-type(2) {
  opacity: 0;
}

.hamburger-btn.active span:last-of-type {
  top: 50%;
  transform: rotate(-45deg);
}

h1 {
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  h1 {
    width: 50px;
    height: 50px;
  }
}

.account-svg {
  height: 20px;
}
@media screen and (min-width: 768px) {
  .account-svg {
    height: 35px;
  }
}

.slide-menu {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #212121;
  overflow: hidden;
  font-size: 24px;
  transform: translateX(-100%);
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  .slide-menu {
    width: 50%;
  }
}

.slide-menu.active {
  transform: translateX(0);
  transition: 0.5s;
}

.slide-menu__lists {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  height: 100%;
  padding: 150px 0 0 50px;
}
@media screen and (min-width: 768px) {
  .slide-menu__lists {
    padding: 150px 0 0 120px;
  }
}

.slide-menu__lists::before {
  content: "";
  position: absolute;
  right: -20%;
  bottom: -20%;
  width: 100%;
  height: 100%;
  background-image: url(../images/logo.svg);
  background-size: cover;
  opacity: 0.05;
}

.overlay {
  display: none;
}

.overlay.dark {
  display: block;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-animation: overlay-dark 0.5s forwards;
          animation: overlay-dark 0.5s forwards;
}

@-webkit-keyframes overlay-dark {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes overlay-dark {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-slide {
  width: 100%;
}

.main-slide__item {
  opacity: 0;
  -webkit-animation: slide-img 6s;
          animation: slide-img 6s;
}

@-webkit-keyframes slide-img {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-img {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.wrapper {
  padding: 5% 5%;
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 5% 15%;
  }
}

.section__title {
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.section__lead {
  text-align: center;
  font-size: 14px;
}

.section__inner {
  margin: 60px 0;
}

.viewmore {
  position: relative;
  display: block;
  width: 260px;
  margin: 0 auto;
  border: 1px solid #ffffff;
  border-radius: 48px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-size: 24px;
  font-weight: 300;
  text-transform: capitalize;
}

.arrow__link {
  display: block;
  padding: 20px 25px;
  border-radius: 48px;
  transition: all 0.7s;
}

.arrow__link:hover {
  background-color: #ffffff;
  color: #17140F;
  transition: all 0.7s;
}

/*矢印と下線の形状*/
.arrow__link::before {
  content: "";
  position: absolute;
  top: 55%;
  right: 10%;
  /*下線の形状*/
  width: 20%;
  height: 1px;
  background-color: #ffffff;
  transition: all 0.3s;
}

.arrow__link::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10%;
  /*矢印の形状*/
  width: 15px;
  height: 1px;
  background-color: #ffffff;
  transform: rotate(35deg);
  transition: all 0.3s;
}

/*hoverした際の移動*/
.arrow__link:hover::before,
.arrow__link:hover::after {
  right: 5%;
  background-color: #17140F;
}

.product {
  background-color: #212121;
}

.product__tab-lists {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin: 60px auto 0;
  padding: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ffffff;
  border-radius: 12px;
  font-weight: 500;
  color: #17140F;
}

.product__tab-link {
  padding: 8px 16px;
  cursor: pointer;
}

.product__tab-link.open {
  background-color: #442218;
  border-radius: 8px;
  color: #ffffff;
}

.product__wrapper {
  display: none;
}

.product__wrapper.open {
  display: block;
}

.product__lists {
  display: grid;
  gap: 30px;
  color: #17140F;
}
@media screen and (min-width: 768px) {
  .product__lists {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 960px) {
  .product__lists {
    grid-template-columns: repeat(3, 1fr);
  }
}

.product__item {
  opacity: 0;
  padding: 20px;
  background-color: #ffffff;
}

.product__item:hover {
  transform: scale(1.03, 1.03);
  transition: all 0.5s;
}

.product__item img {
  border-radius: 20px;
}

.product__item__title {
  padding: 10px 0;
  font-size: 24px;
  font-weight: 700;
}

.news__item {
  position: relative;
  padding: 35px 70px;
  border-top: 1px solid #ffffff;
}

.news__item:last-of-type {
  border-bottom: 1px solid #ffffff;
}

.news__item__text {
  width: 80%;
}

/*矢印と下線の形状*/
.news__link::before {
  content: "";
  position: absolute;
  bottom: 35px;
  right: 70px;
  /*下線の形状*/
  width: 10%;
  height: 1px;
  background-color: #ffffff;
  transition: all 0.3s;
}

.news__link::after {
  content: "";
  position: absolute;
  bottom: 40px;
  right: 70px;
  /*矢印の形状*/
  width: 15px;
  height: 1px;
  background-color: #ffffff;
  transform: rotate(35deg);
  transition: all 0.3s;
}

/*hoverした際の移動*/
.news__link:hover::before,
.news__link:hover::after {
  right: 5%;
}

.footer {
  padding: 30px 5% 20px;
  background-color: #ffffff;
  color: #17140F;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 100px 10% 20px;
  }
}

.footer__wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
@media screen and (min-width: 768px) {
  .footer__wrapper {
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 1350px) {
  .footer__wrapper {
    flex-wrap: nowrap;
  }
}

.footer svg path {
  fill: #17140F;
  transition: all 0.7s;
}

.footer__logo {
  width: 126px;
}

.footer__info {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .footer__info {
    height: 130px;
  }
}

.footer__customer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 50%;
}
@media screen and (min-width: 960px) {
  .footer__customer {
    flex-direction: row;
  }
}

.footer__customer__content {
  border-radius: 30px;
}

.footer__customer__content a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid #17140F;
  border-radius: 30px;
  transition: all 0.7s;
}

.footer__customer__content:hover a {
  background-color: #17140F;
  color: #ffffff;
  transition: all 0.7s;
}

.footer__customer__content svg {
  width: 33px;
  height: auto;
}

.footer__customer__content:hover path {
  fill: #ffffff;
  stroke: none;
  transition: all 0.7s;
}

.footer__cart p {
  text-indent: 1rem;
}

.copyright {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */